# Configurações de Domínio e Traefik da Hostinger
DOMAIN_NAME=shield.tiplus.inf.br
CERT_RESOLVER=letsencrypt
TRAEFIK_NETWORK=bridge
TRAEFIK_ENTRYPOINT=websecure
LETSENCRYPT_EMAIL=patriarca.info@gmail.com

# Configurações do Banco de Dados MySQL
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=duplicati_user
MYSQL_PASSWORD=duplicati_password_123
MYSQL_DB=duplicati_monitor

# Chave secreta da Aplicação Flask
SECRET_KEY=duplicati_super_secret_key_2026

# Porta da aplicação
PORT=5000
